<!DOCTYPE html>
<html lang="en">

<head>
  <% include _head.ejs %>
    <title>Gérald Darmanin ou Marine Le Pen ? | A propos</title>
    <meta name="description" content="🤮 Devines qui a dit quoi; Gérald Darmanin ou Marine Le pen ? | A propos">

    <meta property="og:title" content="Gérald Darmanin ou Marine Le Pen ?">
    <meta property="og:description" content="🤮 Devines qui a dit quoi; Gérald Darmanin ou Marine Le pen ?">
    <meta property="og:image" content="https://darmaninoulepen.fr/meta_image.png">
    <meta property="og:url" content="https://darmaninoulepen.fr">
    <meta name="twitter:card" content="https://darmaninoulepen.fr/meta_image.png">
</head>

<body>
  <% include _title.ejs %>

    <section class="main sources">

    <h2>Pourquoi ce site ?</h2>
    <p>
      Assez exaspéré par les actions de Gérald Darmanin et de son ministère, ce site m'a servi d'exutoire.
      Du moins je le pensais.
      Mais la colère ne passe pas, au contraire, passer plusieurs jours à chercher des citations, leurs sources, ainsi que des vidéos de Darmanin et Le Pen n'ont fait que renforcer cette colère.
      <br/>
      J'espère que ce "jeu" aura ouvert les yeux de certains d'entre vous.
    </p>
    <h2>Que puis-je faire ?</h2>
    <p>
      <a target="_blank" href="https://www.interieur.gouv.fr/Elections/Comment-voter"><b>Vas voter !</b></a>
    </p>
    <h2>J'ai un retour sur le site</h2>
    <p>
      Vous avez trouvé un bug ? <br/>
      Vous pensez qu'il manque une citation importante ?<br />
      Il y a une erreure dans une des citations ?<br />
      Vous voulez juste me troller ou me remercier ?<br/>
      Vous pouvez me contacter <a href="https://docs.google.com/forms/d/e/1FAIpQLSc7R-WD58XTGSDxhmGfxFI9ktMmEEryPt1LCvxIFJNPMiczcw/viewform?usp=sf_link">ici</a>.
    </p>

    <h2>❤ Soutenez darmaninoulepen.fr</h2>
    <p>
      Vous pouvez effectuer un <a href="https://lydia-app.com/collect/88789-darmaninoulepen-fr/fr">don</a> du montant de votre choix. Ce don servira à couvrir les frais d'hébergement du
      site.
    </p>
    <% include _footer.ejs %>

    </section>
    <% include _footer_scripts.ejs %>

</body>

</html>
