<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>webpack starterkit</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Open+Sans&family=Inknut+Antiqua:wght@600&display=swap"
    rel="stylesheet">
</head>
<body>
  <div class="title">
    <img src="/public/images/darmanin.png">
    <h1>Darmanin ou Le Pen ?</h1>
    <img src="/public/images/lepen.png">
  </div>
  <section class="main">
    <div id="quiz">
      <div id="quiz-content" v-cloak :class="borderClass">
        <div class="stats" :class="statsBGClass">
          {{ state.currentQuestionIndex }}/{{ state.totalQuestions }}
        </div>
        <div class="content">
          <div v-if="state.screen === 'question'" id="question">
            <div class="quote">
              <blockquote>
                {{ currentQuestion.quote }}
              </blockquote>
            </div>
            <div class="picker flex one two-500">
              <div>
                <button v-on:click="answer('darmanin')">
                  Gérald Darmanin
                </button>
              </div>
              <div>
                <button v-on:click="answer('lepen')">
                  Marine Le Pen
                </button>
              </div>
            </div>
          </div>

          <div v-if="state.screen === 'answer'" id="answer">
            <h2 :class="titleClass">
              {{ state.currentTitlePre }} {{ state.currentTitle }}
            </h2>

            <div class="flex one two-700">
              <div class="quote">
                <blockquote>
                  {{ currentQuestion.quote }}
                </blockquote>
              </div>

              <div v-if="currentQuestion.sourceType === 'article'" class="article">
                <article class="card">
                  <img :src="currentQuestion.sourceImage">
                  <footer>
                    <h3>
                      <a :href="currentQuestion.source" target="_blank">
                        {{ currentQuestion.sourceTitle }}
                      </a>
                    </h3>
                    <p>{{ currentQuestion.sourceDesc }}</p>
                  </footer>
                </article>
              </div>

              <div v-if="currentQuestion.sourceType === 'embed'" class="embed">
                <article class="card" v-html="currentQuestion.source">
                </article>
              </div>

              <div v-if="currentQuestion.sourceType === 'tweet'" class="tweet">
                <blockquote class="twitter-tweet">
                  <a :href="currentQuestion.source"></a>
                </blockquote>
              </div>
            </div>

            <div class="flex one neutral">
              <button v-on:click="finish()" v-if="state.currentQuestionIndex === state.totalQuestions">
                Mes résultats 🥁
              </button>
              <button v-on:click="next()" v-else>
                Question suivante ⇒
              </button>
            </div>
          </div>

          <div v-if="state.screen === 'results'" id="results">
                <!-- <p class="score">
                  {{ state.goodAnswers }}/{{ state.totalQuestions }}
                  <span>bonnes réponses (ou {{ (state.goodAnswers/state.totalQuestions)*100}}%)</span>
                </p> -->
              <div id="donut-container">
                <div id="donut">
                </div>
              </div>
              <div class="flex one two-500">

              </div>
          </div>
        </div>
      </div>

    </div>

  </section>
  <script>window.twttr = (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
      if (d.getElementById(id)) return t;
      js = d.createElement(s);
      js.id = id;
      js.src = "https://platform.twitter.com/widgets.js";
      fjs.parentNode.insertBefore(js, fjs);
      t._e = [];
      t.ready = function (f) {
        t._e.push(f);
      };
      return t;
    }(document, "script", "twitter-wjs"));</script>
</body>
</html>
