<!DOCTYPE html>
<html lang="en">

<head>
  <% include _head.ejs %>
  <title>Gérald Darmanin ou Marine Le Pen ? | Toutes les sources et citations</title>
  <meta name="description" content="🤮 Devines qui a dit quoi; Gérald Darmanin ou Marine Le pen ? | Toutes les sources et citations">

  <meta property="og:title" content="Gérald Darmanin ou Marine Le Pen ? | Toutes les sources et citations">
  <meta property="og:description" content="🤮 Devines qui a dit quoi; Gérald Darmanin ou Marine Le pen ? | Toutes les sources et citations">
  <meta property="og:image" content="https://darmaninoulepen.fr/meta_image.png">
  <meta property="og:url" content="https://darmaninoulepen.fr">
  <meta name="twitter:card" content="https://darmaninoulepen.fr/meta_image.png">

</head>

<body>
  <% include _title.ejs %>

    <section class="main sources">

      <h2>Gérald Darmanin</h2>
      <div class="masonry">
        <% data["darmanin"].forEach(function(quote){ %>
          <%- include _quote.ejs %>
        <% }); %>
      </div>

      <h2>Marine Le Pen</h2>
      <div class="masonry">
        <% data["lepen"].forEach(function(quote){ %>
          <%- include _quote.ejs %>
            <% }); %>
      </div>

      <% include _footer.ejs %>

    </section>
    <% include _footer_scripts.ejs %>

</body>

</html>
